.navbar-nav button{
    display: flex;
    border-radius: 5px;
    font-size: 40px;
}
.btn p{
    font-size: 25px;
    background-color: brown;
    border-radius: 10px;
    color: black;
}
.link-cart{
    text-decoration: none;
}
