.cardProducto { 
    width: 100rem;
    margin: 14px;
    background-color: hsl(0, 0%, 97%);
    align-items:center;
    justify-content: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

img {
    margin-top:3px;
}

.itemDetail{
max-width: 540px;
margin-top: 20px;
}
.formu{
    color: aliceblue;
    font-size: 22px;
}
.darkMode {
background-color: black;
color: aliceblue;
}
.cardBodyDark {
    background-color: hsl(0, 0%, 0%);
    margin-bottom: 3px;
    text-align: center;
}
.cnt{
    margin-left: auto;
    margin-right: auto;
}
.cnt-btn{

margin-left: 85px;
}